body {
  background: #fff;
}

.about {
  background: #f1f0ee;
  padding: 20px 0;
  width: 100%;
  position: relative;
  text-align: center;
}

.navbar {
  width: 100%;
  height: 50px;
  font-family: "", "Montserrat", sans-serif;
  background-color: #f1f0ee;
  text-align: center;
  padding: 10px;
  font-size: 1.3rem;
}

/* Navbar links */
.navbar-p {
  display: inline-block;
  color: #909090;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Roboto, "Gibson", sans-serif, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* Links - endre farge nÃ¥r du tar pilen over */
.navbar-p:hover {
  color: #444444;
  /*border-bottom: 5px solid #e8daef;*/
  cursor: pointer;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
}

.wrapper--variable {
  margin: 0 auto;
}

h2 {
  font-family: "", "Montserrat", sans-serif;
  display: inline-block;
  color: #4d4d4d;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 52px;
  font-size: 4rem;
  padding-bottom: 0px;
  border-bottom: 5px solid #e8daef;
}

p {
  font-family: "", "Montserrat", sans-serif;
  font-size: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #909090;
  width: 65%;
  margin: 0 auto;
}

.underline--pink {
  border-bottom: 5px solid #e8daef;
}

.artcard {
  padding: 25px;
  background-color: #ffff;
  position: relative;
  margin: 25px;
  font-family: "", "Montserrat", sans-serif;
  font-size: 12px;
  color: #4d4d4d;
  max-width: 300px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.artcard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.artcard td {
  padding-top: 10px;
}

h5 {
  font-family: "", "Montserrat", sans-serif;
  font-size: 12px;
  color: #4d4d4d;
}

img {
  padding: 5px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* MODAL */

.modal-bg {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-color: white;
  width: 70%;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "", "Montserrat", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-button::before {
  content: "\00d7"; /* This will render the 'X' */
}

.img-modal {
  padding: 5px;
  max-height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal-place-button {
  position: absolute;
  right: 215px;
  height: 650px;
}

.modal-button {
  margin-top: -30px;
  margin-right: -30px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 30px;
  background: #605f61;
  font-size: 31px;
  font-weight: bold;
  line-height: 0px;
  padding: 10px 3px;
  padding-bottom: 13px;
}

.modal-p {
  font-size: 1rem;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* DROP DOWN BOX */

ul {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f0ee;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content p {
  color: #909090;
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Roboto, "Gibson", sans-serif, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
  border: 5px white;
}

.dropdown-content p:hover {
  color: #444444;
  /*border-bottom: 5px solid #e8daef;*/
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* SPINNER */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #605f61;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
